.root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton {
  background-color: #0c0c0cbb;
  z-index: 2;
  position: absolute;
  height: 32px;
  width: 32px;
  right: 6px;
  top: 6px;
  border-radius: 8px;
}
.closeButton:hover {
  background-color: #0c0c0cfa;
}
.closeButton:active {
  filter: brightness(1.5);
}
.closeButtonIcon {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.spinnerContainer {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.spinner {
  width: 48px;
}
