.root {
  position: relative;
  border: solid 2px rgba(0, 0, 0, 0.534);
  max-width: 85vw;
  max-height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  scrollbar-width: thin;
  scrollbar-color: #2b2a2a73 #c2c2c2dc;
  width: min-content;
}
.root::-webkit-scrollbar {
  width: 0.3rem;
}
.root::-webkit-scrollbar-thumb {
  background-color: #2b2a2a73;
  border-radius: 10px;
}
.root::-webkit-scrollbar-track {
  background-color: #c2c2c2dc;
}
.fitContent {
  max-width: fit-content;
}

.img {
  flex-grow: 1;
}
.details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px 16px;
  padding-bottom: 16px;
  gap: 8px;
  background-color: white;
  min-width: 312px;
}
.detailsHeader {
  /* display: flex; */
  justify-content: space-between;
}
.separatorLine {
  height: 1px;
  width: 100%;
  background-color: black;
}
.plot {
  max-width: fit-content;
}

@media (min-width: 768px) {
  .root {
    flex-direction: row;
    justify-content: center;
    width: min-content;
  }
}
