.root {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 14px;
  flex-grow: 1;
  flex-direction: column;
}
.navigationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.currentPage {
  border: solid #000000a3 1px;
  width: 32px;
  padding: 4px;
  text-align: center;
  background-color: #393d3e;
  color: white;
  cursor: default;
}
.button {
  color: rgb(0, 0, 0);
  border: solid black 1px;
  padding: 6px 10px;
  background-color: #ffffffd1;
}
.button:hover:enabled {
  filter: brightness(1.1);
  background-color: rgb(139, 60, 60);
  color: white;
}
.button:disabled {
  border-color: rgba(0, 0, 0, 0.178);
  filter: brightness(1);
  cursor: default;
  background-color: #413d3d5d;
  opacity: 0.5;
}
.button:enabled:active {
  filter: brightness(1.5);
}
